<ion-header>
	<ion-navbar color="primary">
    	<ion-title>Detalhes</ion-title>
    	<ion-buttons end>
		    <button (click)="share()" ion-button icon-only>
		    	<ion-icon name="md-share"></ion-icon>
		    </button>
    	</ion-buttons>
  	</ion-navbar>
</ion-header>

<ion-content>
	<ion-slides #slider (ionDidChange)="SlideChanged()" [options]="_sliderOptions" id="ionSlider" style="max-height: 200px;">
		<ion-slide #slide *ngFor="let img of doacao.images">
	    	<ion-item>
            	<img src="{{img}}">
        	</ion-item>
	  	</ion-slide>
	</ion-slides>
	<div padding>
		<h5>{{doacao.titulo}}</h5>
		<p>{{doacao.created_at | amTimeAgo}}</p><hr>
		<ion-icon name="pin"></ion-icon> {{doacao.uf | uppercase}} <span *ngIf="doacao.localizacao">- {{doacao.localizacao}}</span><hr>
		<p>{{doacao.descricao}}</p><hr>
		<b>Anunciante</b><br />
		<p>{{doacao.usuario.nome}}</p>
		<a href="#" (click)="denunciar()">Denunciar</a>
	</div>
</ion-content>

<ion-footer class="page-doacao-detalhe">
	<ion-toolbar color="primary">
  		<ion-buttons left>
      		<a href="tel:{{doacao.usuario.telefone}}" ion-button icon-left>
      			<ion-icon name="call"></ion-icon>Ligar
      		</a>
    	</ion-buttons>
    	<ion-buttons right>
			<button ion-button icon-left>
      			<ion-icon name="chatbubbles"></ion-icon>Chat
      		</button>
    	</ion-buttons>
	</ion-toolbar>
</ion-footer>