<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
	  	<ion-icon name="menu"></ion-icon>
	  </button>
    <ion-title>Pedidos de doação</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showPopover($event)">
          <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="segOption">
      <ion-segment-button value="lista">
        <ion-icon name="map"></ion-icon>
        Lista
      </ion-segment-button>
      <ion-segment-button value="mapa" (ionSelect)="loadMapa()">
        <ion-icon name="pin"></ion-icon>
        Mapa
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content class="page-pedido-doacao-list">
  <ion-fab *ngIf="segOption == 'lista'" right bottom>
      <button (click)="add()" ion-fab color="primary"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <div *ngIf="segOption == 'mapa'" id="map"></div>

  <div [ngSwitch]="segOption" style="height: 100%;">
    <div *ngSwitchCase="'lista'">
      <ion-card *ngFor="let pedido of pedidos">
        <ion-item>
          <ion-avatar item-left>
              <img src="{{pedido.usuario.foto}}">
          </ion-avatar>
          <h2>{{pedido.usuario.nome}}</h2>
          <p>{{pedido.created_at | amTimeAgo}}</p>
        </ion-item>
        <ion-card-content>
          <p>{{pedido.descricao}}</p>
        </ion-card-content>
        <ion-row>
          <ion-col>
              <button ion-button icon-left clear small>
                <ion-icon name="warning"></ion-icon>
                <div>Denunciar</div>
              </button>
          </ion-col>
          <ion-col>
            <button (click)="mensagem(pedido.usuario.id)" ion-button icon-left clear small>
              <ion-icon name="chatbubbles"></ion-icon>
              <div>Entrar em contato</div>
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>

    <div *ngSwitchCase="'mapa'">

    </div>
  </div>
</ion-content>
