<ion-header>
  <ion-navbar color="primary">
		<ion-title>Doar item</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="page-doar-add">
	<ion-list>
		<ion-grid>
			<ion-row>
				<ion-col width-25>
					<img (click)="enviarOptions()" src="/assets/img/icon-camera.png" class="img-item" />	
				</ion-col>
				<ion-col width-25 *ngFor="let image of doacao.images">
					<img [src]="image" class="img-item" />	
				</ion-col>
			</ion-row>
		</ion-grid>
		<ion-item>
    		<ion-label>Estado:</ion-label>
    		<ion-select [(ngModel)]="doacao.uf">
		    	<ion-option *ngFor="let estado of estados" [value]="estado.sigla">{{estado.uf}}</ion-option> 
    		</ion-select>
  		</ion-item>
  		<ion-item>
    		<ion-label stacked>Descrição:</ion-label>
    		<ion-textarea [(ngModel)]="doacao.descricao" rows="4"></ion-textarea>
  		</ion-item>

	</ion-list>

	<ion-fab right bottom>
	    <button (click)="salvar()" ion-fab color="primary"><ion-icon name="done-all"></ion-icon></button>
  </ion-fab>

</ion-content>
